.answerCard{
    margin: 0px 0px 0px 10px;
    float: left;
    width: 22%;
    height: 400px;
    background-color: #ffffeb;
}
.question{
    margin: 0px;
    display: inline-block;
    width: 77%;
    height: 400px;
    background-color: #ffffeb;
    border-left: 1px solid black;
    padding-left: 10px;
}
.option{
    float: left;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    padding-top: 5px;
    cursor: pointer;
    background-color: #87897a;
    color: #00fced;
}
.option:hover{
    text-decoration: none;
    background-color: #ff2300;
}
.progressHint{
    display: inline-block;
    float: left;
    width: 70%;
}
.hour,.minute,.second{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding-bottom: 10px;
}
.time{
    display: inline-block;
    height: 40px;
    float: left;
    margin-left: 20px;
}
.hintTime{
    margin: 0px 0px 0px 10px;
}
.title{
    font-size: 20px;
}