{% extends '../layout.html' %} <!--使用公共模块-->
{% block main %}  <!--实现占位模块-->
<ol class="breadcrumb">
    <li><a href="/teacher">管理首页</a></li>
    <li>需要批改的人员列表</li>
    <span class="nowPage" style="display: none">{{page}}</span>
    <span class="allCount" style="display: none">{{count}}</span>
</ol>
<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>序号</th>
        <th>学号</th>
        <th>姓名</th>
        <th>考试</th>
        <th>分值</th>
        <th>状态</th>
    </tr>
    {% for content in contents %}
    <tr>
        <th class="sort"></th>
        {% if content.student %}
        <th>{{content.student.no}}</th>
        <th>{{content.student.name}}</th>
        {% else %}
        <th>{{userInfo.no}}</th>
        <th>{{userInfo.name}}</th>
        {% endif %}

        <th>{{content.exam.title}}</th>
        <th>{{content.score}}</th>
        <th><a href="/teacher/score/edit?ct={{content._id.toString()}}&ea={{content.exam._id.toString()}}">批改</a></th>
    </tr>
    {% endfor %}
</table>
<nav aria-label="...">
    <ul class="pager">
        <li class="previous">
            <a href="/teacher/score/correct?_id={{topic._id.toString()}}&page={{page-1}}">
                <span aria-hidden="true">&larr;</span>上一页</a></li>
        <li>共有{{count}}条数据，每页显示{{limit}}条数据，共{{pages}}页，当前第{{page}}页</li>
        <li class="next">
            <a href="/teacher/score/correct?_id={{topic._id.toString()}}&page={{page+1}}">
            <span aria-hidden="true">&rarr;</span>下一页</a></li>
    </ul>
</nav>
<script>
    var page=$(".nowPage").html();
    var count=$(".allCount").html();
    var sort=$(".sort");
    var length=count-(page-1)*20;
    if(length>=20) length=20;
    for(var i=0;i<length;i++){
        sort.eq(i).html(i+1);
    }
</script>
{%endblock%}