{% extends '../layout.html' %} <!--使用公共模块-->
{% block main %}  <!--实现占位模块-->
<link rel="stylesheet" href="/public/css/inputBox.css" type="text/css"/>
<ol class="breadcrumb">
    <li><a href="/teacher">管理首页</a></li>
    <li><a href="/teacher/exam">试卷首页</a></li>
    <li><span>{{exam.title}}</span></li>
</ol>
<div style="background: white;">
    <h3 class="text-center"><b>{{exam.title}}</b></h3>
    <p class="text-center" style="font-size: 10px;">
        <span style="margin-left: 15px">科目：{{exam.subject.name}}</span>
        <span style="margin-left: 15px">出题老师：{{exam.teacher.name}}</span>
        <span style="margin-left: 15px">考试开始时间：{{exam.startTime|date("Y年m月d日H:i:s",-8*60)}}</span>
        <span style="margin-left: 15px">考试结束时间：{{exam.endTime|date("Y年m月d日H:i:s",-8*60)}}</span>
        <span style="margin-left: 15px">题数：{{exam.numOfQuestions}}</span>
        <span style="margin-left: 15px">总分：{{exam.sumScore}}</span>
    </p>
    <p class="text-center" style="font-size: 10px;">
        {{exam.description}}
    </p>
    <div style="font-size: 20px;margin:0px 15px;">
        {% for Question in questions %}
        {% if Question.question.style=='single' %}
        <p><span>{{Question.index}}、(单选题){{Question.question.title}}</span>
            <span style="font-size: 12px;">
                (<span>正确答案：{{Question.question.answer}}</span>
                <span style="margin-left: 15px">分值：{{Question.question.score}}</span>
                <span style="margin-left: 15px">考点：{{Question.question.center}}</span>
                {% if Question.question.difficulty=="simple"||Question.question.difficulty=="" %}
                 <span style="margin-left: 15px">难度：简单</span>
                {% elseif Question.question.difficulty=="general" %}
                  <span style="margin-left: 15px">难度：一般</span>
                {% elseif Question.question.difficulty=="hard" %}
                  <span style="margin-left: 15px">难度：困难</span>
                {% endif %}
                <span style="margin-left: 15px">出题时间：{{Question.question.createTime|date("Y年m月d日 H:i:s",-8*60)}})</span>
            </span></p>
        <form class="form">
            {% for option in Question.question.options %}
            <div class="inputGroup">
                <input id="'radio'+'{{Question.question.index}}'+'{{option.name}}'" name="radio" type="radio"/>
                <label for="'radio'+'{{Question.question.index}}'+'{{option.name}}'">{{option.name}}、{{option.info}}</label>
            </div>
            {% endfor %}
        </form>
        {% elseif Question.question.style=='multiple' %}
        <p><span>{{Question.index}}、(多选题){{Question.question.title}}</span>
        <span style="font-size: 12px;">
                (<span >正确答案：{{Question.question.answer}}</span>
                <span style="margin-left: 15px">分值：{{Question.question.score}}</span>
                <span style="margin-left: 15px">考点：{{Question.question.center}}</span>
                {% if Question.question.difficulty=="simple"||Question.question.difficulty=="" %}
                 <span style="margin-left: 15px">难度：简单</span>
                {% elseif Question.question.difficulty=="general" %}
                  <span style="margin-left: 15px">难度：一般</span>
                {% elseif Question.question.difficulty=="hard" %}
                  <span style="margin-left: 15px">难度：困难</span>
                {% endif %}
                <span style="margin-left: 15px">出题时间：{{Question.question.createTime|date("Y年m月d日 H:i:s",-8*60)}})</span>
            </span>
        </p>
        <form class="form">
            {% for option in Question.question.options %}
            <div class="inputGroup">
                <input id="'option'+'{{Question.question.index}}'+'{{option.name}}'" name="radio" type="checkbox"/>
                <label for="'option'+'{{Question.question.index}}'+'{{option.name}}'">{{option.name}}、{{option.info}}</label>
            </div>
            {% endfor %}
        </form>
        {% else %}
        <p><span>{{Question.index}}、(问答题){{Question.question.title}}</span>
            <span style="font-size: 12px;">
                (<span >分值：{{Question.question.score}}</span>
                <span style="margin-left: 15px">考点：{{Question.question.center}}</span>
                {% if Question.question.difficulty=="simple"||Question.question.difficulty=="" %}
                 <span style="margin-left: 15px">难度：简单</span>
                {% elseif Question.question.difficulty=="general" %}
                  <span style="margin-left: 15px">难度：一般</span>
                {% elseif Question.question.difficulty=="hard" %}
                  <span style="margin-left: 15px">难度：困难</span>
                {% endif %}
                <span style="margin-left: 15px">出题时间：{{Question.question.createTime|date("Y年m月d日 H:i:s",-8*60)}})</span>
            </span>
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;答：{{Question.question.answer}}</p>
        {% endif %}
        {% endfor %}
    </div>
</div>
{%endblock%}