{% extends 'layout.html' %} <!--使用公共模块-->
{% block main %}  <!--实现占位模块-->
<ol class="breadcrumb">
    <li><a href="/teacher">管理首页</a></li>
    <li><span>选择题题库题目添加</span></li>
</ol>
<form method="post" style="padding: 0px 10px">
    <div class="form-group">
        <label for="catalog">题库目录名称：</label>
        <select name="catalog" id="catalog" class="form-control">
            <option value="{{catalog._id.toString()}}">{{catalog.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="style">题库类型：</label>
        <select name="style" id="style" class="form-control">
            {% if catalog.style=="single"||catalog.style=="" %}
            <option value="single">单选题</option>
            {% elseif catalog.style=="multiple" %}
            <option value="multiple">多选题</option>
            {% endif %}
        </select>
    </div>
    <div class="form-group">
        <label for="title">题目描述</label>
        <textarea class="form-control" id="title" placeholder="请输入题目描述"
                  name="title" rows="3"></textarea>
    </div>
    <div class="form-group" id="options">
        <label>选项</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if catalog.style=="single"||catalog.style=="" %}
        <button onclick="addOption(0)" type="button">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        {% elseif catalog.style=="multiple" %}
        <button onclick="addOption(1)" type="button">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% if catalog.style=="single"||catalog.style=="" %}
        <button onclick="deleteOption(0)" type="button">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
        {% elseif catalog.style=="multiple" %}
        <button onclick="deleteOption(1)" type="button">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
        {% endif %}
        <span id="error" style="color: red"></span>
        <div class="input-group" id="A">
            <span class="input-group-addon">A</span>
            <input type="text" class="form-control" placeholder="请输入选项内容"
                   name="option">
        </div>
        <div class="input-group" id="B">
            <span class="input-group-addon">B</span>
            <input type="text" class="form-control" placeholder="请输入选项内容"
                   name="option">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="input-group">
                <label for="difficulty">考点</label>
                <select name="difficulty" id="difficulty" class="form-control">
                    <option value="simple">简单</option>
                    <option value="general">一般</option>
                    <option value="hard">困难</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <label for="score">分值</label>
                <input type="text" class="form-control" id="score" placeholder="请输入本题分值"
                       name="score">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <label for="center">考点</label>
                <input type="text" class="form-control" id="center" placeholder="请输入本题考点"
                       name="center">
            </div>
        </div>
    </div>
    <br />
    <div class="form-group" id="answer">
        <label >正确答案</label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% if catalog.style=="single"||catalog.style=="" %}
        <input type="radio" name="answer" value="A" checked="checked" class="radioL"/>A
        &nbsp;&nbsp;<input type="radio" name="answer" value="B" class="radioL"/>B
        {% elseif catalog.style=="multiple" %}
        <input type="checkbox" name="answer" value="A" checked="checked" class="radioL"/>A
        &nbsp;&nbsp;<input type="checkbox" name="answer" value="B" class="radioL"/>B
        {% endif %}
    </div>
    <span id="errorSum" style="color: red"></span>
    <button type="submit" class="btn btn-success center-block btn-lg" id="submit">
        确&nbsp;&nbsp;&nbsp;&nbsp;定</button>
</form>
<script type="text/javascript" src="/public/js/single_questionAdd.js"></script>
{%endblock%}