{% extends 'layout.html' %} <!--使用公共模块-->
{% block main %}  <!--实现占位模块-->
<ol class="breadcrumb">
    <li><a href="/teacher">管理首页</a></li>
    {% if topic %}
    <li><a href="/teacher/choice">题库列表</a></li>
    <li><span>{{topic.name}}</span></li>
    {% else %}
    <li><span>题目列表</span></li>
    {% endif %}
</ol>
<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>题号</th>
        <th>题目</th>
        <th>题型</th>
        <th>分值</th>
        <th>考点</th>
        <th>难度</th>
        <th>操作</th>
    </tr>
    {% for content in contents %}
    <tr>
        <th>{% if content.index< 10%}000{% elseif content.index<100 %}00{% elseif content.index<1000 %}0{% endif %}{{content.index}}</th>
        <th>{{content.title}}</th>
        {% if content.style=="single" %}
        <th>单选</th>
        {% elseif content.style=="multiple" %}
        <th>多选</th>
        {% else %}
        <th>问答</th>
        {% endif %}
        <th>{{content.score}}</th>
        <th>{{content.center}}</th>
        {% if content.difficulty=="simple"||content.difficulty=="" %}
        <th>简单</th>
        {% elseif content.difficulty=="general" %}
        <th>一般</th>
        {% elseif content.difficulty=="hard" %}
        <th>困难</th>
        {% endif %}
        <th>
            <a href="/teacher/choice/view?id={{content._id.toString()}}">详细</a>
        </th>
    </tr>
    {% endfor %}
</table>
<nav aria-label="...">
    <ul class="pager">
        {% if topic %}
        <li class="previous">
            <a href="/teacher/choice/see?catalog={{topic._id.toString()}}&page={{page-1}}">
                <span aria-hidden="true">&larr;</span>上一页</a></li>
        <li>共有{{count}}条数据，每页显示{{limit}}条数据，共{{pages}}页，当前第{{page}}页</li>
        <li class="next">
            <a href="/teacher/choice/see?catalog={{topic._id.toString()}}&page={{page+1}}">
            <span aria-hidden="true">&rarr;</span>下一页</a></li>
        {% else %}
        <li class="previous">
            <a href="/teacher/choice/allQuestion?page={{page-1}}">
                <span aria-hidden="true">&larr;</span>上一页</a></li>
        <li>共有{{count}}条数据，每页显示{{limit}}条数据，共{{pages}}页，当前第{{page}}页</li>
        <li class="next">
            <a href="/teacher/choice/allQuestion?page={{page+1}}">
                <span aria-hidden="true">&rarr;</span>下一页</a></li>
        {% endif %}
    </ul>
</nav>
{%endblock%}