{% extends 'layout.html' %} <!--使用公共模块-->
{% block main %}  <!--实现占位模块-->
<ol class="breadcrumb">
    <li><a href="/teacher">管理首页</a></li>
    <li><span>老师列表</span></li>
</ol>
<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>工号</th>
        <th>姓名</th>
        <th>学校</th>
        <th>邮箱</th>
        <th>手机号码</th>
        <th>管理员</th>
        {% if userInfo.isAdmin %}
        <th>操作</th>
        {% endif %}
    </tr>
    {% for user in users %}
    <tr>
        <th>{{user.no}}</th>
        <th>{{user.name}}</th>
        <th>{{user.school}}</th>
        <th>{{user.email}}</th>
        <th>{{user.phone}}</th>
        {% if user.isAdmin %}
        <th>是</th>
        {% else %}
        <th>否</th>
        {% endif %}
        {% if userInfo.isAdmin %}
        <th><a href="javascript:" onclick="deletes('/teacher/admin/teacher/delete?_id={{user._id.toString()}}')">删除</a></th>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<script type="text/javascript" src="/public/js/layer-v3.1.1/layer-v3.1.1/layer/layer.js"></script>
<script >
    function deletes(url) {
        layer.confirm('真的要删除这个教师吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.ajax({
                url:url,
                success:function (result) {
                    if(!result.code) {
                        window.location.reload();
                        layer.msg(result.message, {icon: 1});
                    }else{
                        layer.msg(result.message, {icon: 1});
                    }
                }
            });
        }, function(){
            layer.msg('已取消', {icon: 1});
        });
    }
</script>
<nav aria-label="...">
    <ul class="pager">
        <li class="previous"><a href="/teacher/admin/teacher?page={{page-1}}">
            <span aria-hidden="true">&larr;</span>上一页</a></li>
        <li>共有{{count}}条数据，每页显示{{limit}}条数据，共{{pages}}页，当前第{{page}}页</li>
        <li class="next"><a href="/teacher/admin/teacher?page={{page+1}}">下一页
            <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>
{%endblock%}